
snippet CO "Copyright" b
// -------------------------------------------------------------------
// Copyright (C) 2019-2021 by Maxim N. Deviatov. All Rights Reserved.
// Author:       Maxim N. Deviatov < mdeviatov@gmail.com >
// ---
// File:			`!p snip.rv=snip.fn`		Project: `!p from pathlib import Path
snip.rv=Path.cwd()
`
// Update:       `date +%d-%B-%Y\ %H:%M`
// -------------------------------------------------------------------
endsnippet
	
